*.o
*.exe
/blaze
/blazec
/blazeas
/.vscode
*.bak
/*.bs
/.vscode
/backup
/test.c
/test
/*.ll
/main
/*.a
/blazevm
/.idea
/testing
/*.bvm
/*.bl
/*.blas
/debug
/build-aux
*.log
*.scan
*.in
/Makefile
/src/Makefile
/configure
*~
/aclocal.m4
autom4te.cache
/build
.deps
stamp-*
