name: Cross Compile

on:
  push:
    branches: [ "main" ]

jobs:
  cross-compile:
    strategy:
      matrix:
       os: [ubuntu-latest, windows-latest, macos-latest]
       
    runs-on: ${{ matrix.os }}
    
    steps:
    - uses: actions/checkout@v3

    - name: Installation (MacOS)
      run: brew install automake
      if: matrix.os == 'macos-latest'

    - name: autoreconf
      run: autoreconf -i
      if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'

    - name: autoreconf (Windows)
      run: C:\msys64\usr\bin\bash .github/windows-build.sh
      if: matrix.os == 'windows-latest'

    - name: configure (Windows)
      run: bash "./configure" --prefix=$(pwd)\build
      if: matrix.os == 'windows-latest'

    - name: configure
      run: ./configure --prefix=$(pwd)/build
      if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'

    - name: make
      run: make
    
    - name: Change branch
      run: git reset --hard HEAD && git pull --all && git switch workflow
      
    - name: Copy release
      run: "sudo cp $(pwd)/src/blaze /tmp/blaze"
      if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'
      
    - name: Move release
      run: "sudo mv /tmp/blaze $GITHUB_WORKSPACE/blaze-${{ matrix.os }}"
      if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'
      
    - name: Commit
      run: |
        (git config --global user.name 'GitHub Actions' &&
        git config --global user.email 'virtual-designer@users.noreply.github.com' &&
        git add blaze-* &&
        git commit -m "Automated Build Workflow Commit" &&
        git push origin workflow --force) || echo 0
      if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'
      
    - name: Commit
      run: |
        (ls && rm ./blaze-windows && mv ./src/blaze.exe ./blaze-windows-latest && git config --global user.name 'GitHub Actions' &&
        git config --global user.email 'virtual-designer@users.noreply.github.com' &&
        git add ./blaze-windows-latest &&
        git commit -a -m "Automated Build Workflow Commit" &&
        git push origin workflow --force) || echo 0
      if: matrix.os == 'windows-latest'
